langchain==0.3.25
langchain-openai==0.3.13
langgraph==0.3.30
langgraph-supervisor==0.0.16
langsmith==0.3.42
openai==1.74.0
python-dotenv==1.1.0
alpaca-trade-api==3.2.0
edgartools==3.14.6
yfinance==0.2.55
tavily-python==0.7.2
langchain-mcp-adapters==0.1.0
langgraph-cli[inmem]==0.2.10
typing-extensions